Boom = require 'boom'
{{itemCapitalized}} = require '../models/{{item}}'

class {{itemPluralCaptialized}}Controller
  @index =
    id: '{{itemPlural}}.index'
    tags: ['pages']
    handler: (req, reply) ->
      context =
        heading: '{{itemPluralCaptialized}} List'
      if req.headers.accept? and req.headers.accept.toLowerCase() is 'application/json'
        reply(context).type('application/json')
      else
        reply.view '{{itemPlural}}/index', context
  
  @new =
    id: '{{itemPlural}}.new'
    tags: ['pages']
    handler: (req, reply) ->
      context =
        heading: 'New {{itemCapitalized}}'
      reply.view '{{itemPlural}}/new', context
      
  @create =
    id: '{{itemPlural}}.create'
    tags: ['api']
    handler: (req, reply) ->
      reply Boom.notImplemented('create')
      
  @show =
    id: '{{itemPlural}}.show'
    tags: ['pages']
    handler: (req, reply) ->
      {{item}}Id = req.params.{{item}}_id
      context =
        heading: 'Show {{itemCapitalized}} ' + {{item}}Id
      if req.headers.accept? and req.headers.accept.toLowerCase() is 'application/json'
        reply(context).type('application/json')
      else
        reply.view '{{itemPlural}}/show', context
      
  @edit =
    id: '{{itemPlural}}.edit'
    tags: ['pages']
    handler: (req, reply) ->
      {{item}}Id = req.params.{{item}}_id
      context =
        heading: 'Edit {{itemCapitalized}} ' + {{item}}Id
      reply.view '{{itemPlural}}/edit', context
      
  @update =
    id: '{{itemPlural}}.update'
    tags: ['api']
    handler: (req, reply) ->
      {{item}}Id = req.params.{{item}}_id
      reply Boom.notImplemented('update')
      
  @destroy =
    id: '{{itemPlural}}.destroy'
    tags: ['api']
    handler: (req, reply) ->
      {{item}}Id = req.params.{{item}}_id
      reply Boom.notImplemented('destroy')

module.exports = exports = {{itemPluralCaptialized}}Controller