lab = exports.lab = require('lab').script()
require('coffee-script').register()
should = require 'should'
cheerio = require 'cheerio'

lab.experiment 'The {{itemPluralCaptialized}} controller', ->
  server = null

  lab.before (done) ->
    if global.server?
      server = global.server
      done()
    else
      require('../../app/index')()
      .then (testServer) ->
        global.server = server = testServer
        done()

  lab.experiment 'index functionality', ->
    lab.test 'should correctly display the template page', (done) ->
      options =
        method: 'GET'
        url: '/{{itemPlural}}'

      server.inject options, (response) ->
        response.statusCode.should.equal 200
        result = response.result
        $ = cheerio.load result, normalizeWhitespace: true

        bodyContainer = $('#body-container')
        header = bodyContainer.find('.center').find('h1')[0]
        should.exist header
        header.children[0].data.should.equal '{{itemPluralCaptialized}} List'

        done()

    lab.test 'should display the correct JSON data for the URL', (done) ->
      options =
        method: 'GET'
        url: '/{{itemPlural}}'
        headers:
          accept: 'application/json'

      server.inject options, (response) ->
        response.statusCode.should.equal 200
        result = response.result

        should.exist result.heading
        result.heading.should.equal '{{itemPluralCaptialized}} List'

        done()

  lab.experiment 'new functionality', ->
    lab.test 'should correctly display the template page', (done) ->
      options =
        method: 'GET'
        url: '/{{itemPlural}}/new'

      server.inject options, (response) ->
        response.statusCode.should.equal 200
        result = response.result
        $ = cheerio.load result, normalizeWhitespace: true

        bodyContainer = $('#body-container')
        header = bodyContainer.find('.center').find('h1')[0]
        should.exist header
        header.children[0].data.should.equal 'New {{itemCapitalized}}'

        done()

  lab.experiment 'show functionality', ->
    lab.test 'should correctly display the template page', (done) ->
      options =
        method: 'GET'
        url: '/{{itemPlural}}/42'

      server.inject options, (response) ->
        response.statusCode.should.equal 200
        result = response.result
        $ = cheerio.load result, normalizeWhitespace: true

        bodyContainer = $('#body-container')
        header = bodyContainer.find('.center').find('h1')[0]
        should.exist header
        header.children[0].data.should.equal 'Show {{itemCapitalized}} 42'

        done()

    lab.test 'should display the correct JSON data for the URL', (done) ->
      options =
        method: 'GET'
        url: '/{{itemPlural}}/42'
        headers:
          accept: 'application/json'

      server.inject options, (response) ->
        response.statusCode.should.equal 200
        result = response.result

        should.exist result.heading
        result.heading.should.equal 'Show {{itemCapitalized}} 42'

        done()

  lab.experiment 'create functionality', ->
    lab.test 'should correctly receive a \'Not Implemented\' status for the API call', (done) ->
      options =
        method: 'POST'
        url: '/{{itemPlural}}'

      server.inject options, (response) ->
        response.statusCode.should.equal 501
        result = response.result
        result.message.should.equal 'create'

        done()

  lab.experiment 'update functionality', ->
    lab.test 'should correctly receive a \'Not Implemented\' status for the API call', (done) ->
      options =
        method: 'PUT'
        url: '/{{itemPlural}}/42'

      server.inject options, (response) ->
        response.statusCode.should.equal 501
        result = response.result
        result.message.should.equal 'update'

        done()

  lab.experiment 'destroy functionality', ->
    lab.test 'should correctly receive a \'Not Implemented\' status for the API call', (done) ->
      options =
        method: 'DELETE'
        url: '/{{itemPlural}}/42'

      server.inject options, (response) ->
        response.statusCode.should.equal 501
        result = response.result
        result.message.should.equal 'destroy'

        done()