Joi = require 'joi'
objectMerge = require 'object-merge'
Promise = require 'bluebird'
Validator = require '../helpers/validator'

schema = {}

class {{itemCapitalized}}
	internal_constructor = (jsonData) ->
		{{item}} = new {{itemCapitalized}}
		if jsonData?
			{{item}} = objectMerge {{item}}, jsonData

		{{item}}.validate = validate
		{{item}}

	@instantiate: (jsonData) ->
		_self = @
		return new Promise (resolve, reject) ->
			if jsonData?
				_self.validate jsonData
				.then ->
					resolve internal_constructor jsonData
				.catch (err) ->
					reject err
			else
				resolve internal_constructor()

	validate = ->
		Validator.validate @, schema

	@validate: (jsonData) ->
		Validator.validate jsonData, schema

publicConstructor = ->
	throw new Error 'Cannot create the {{itemCapitalized}} via the \'new\' keyword.'
{{itemCapitalized}}.prototype = publicConstructor
module.exports = {{itemCapitalized}}